In [5]:
#Cargar librerias
from pymongo import MongoClient
import pandas as pd
from datetime import datetime
from bson import ObjectId

In [2]:
#Conexion

uri = "mongodb://root:rootpass@localhost:27017"

client = MongoClient(uri, serverSelectionTimeoutMS=3000)  # 3 s de timeout
print("Conexión exitosa a MongoDB")

Conexión exitosa a MongoDB

In [3]:
try:
    # ①  Obtiene info del servidor (versión, opciones de compilación…)
    info = client.server_info()

    #Muestra la versión en un DataFrame 
    df_info = pd.json_normalize(info).T.reset_index()
    df_info.columns = ["Campo", "Valor"]
    display(df_info.head(8))          # Solo las primeras filas para no saturar

    # ③  Lista de bases de datos existentes
    dbs = client.list_database_names()
    print("Bases de datos disponibles:", dbs)

except Exception as e:
    print(" Error al conectar:", e)

              Campo                                     Valor
0           version                                    7.0.21
1        gitVersion  a47b62aff2bae1914085c3ef1d90fc099acf000c
2           modules                                        []
3         allocator                                  tcmalloc
4  javascriptEngine                                     mozjs
5           sysInfo                                deprecated
6      versionArray                             [7, 0, 21, 0]
7              bits                                        64

Bases de datos disponibles: ['admin', 'config', 'local']

In [4]:
#listar la BBDD
db = client["ecommerce_demo"]

In [6]:
#carga de datos a la base
# 2.1  Productos
prod_ids = db.productos.insert_many([
    {"nombre": "Teclado mecánico", "precio": 55.90, "stock": 120},
    {"nombre": "Mouse inalámbrico", "precio": 27.50, "stock": 200},
    {"nombre": "Monitor 24''",      "precio": 199.00, "stock": 75},
]).inserted_ids

# 2.2  Clientes
cli_ids = db.clientes.insert_many([
    {"nombre": "Ana Pérez",   "email": "ana@example.com",   "telefono": "+56‑9‑1111‑2222"},
    {"nombre": "Luis Torres", "email": "luis@example.com",  "telefono": "+56‑9‑3333‑4444"},
]).inserted_ids

# 2.3  Órdenes
db.ordenes.insert_many([
    {
        "cliente_id": cli_ids[0],
        "fecha": datetime(2025, 7, 10),
        "items": [
            {"producto_id": prod_ids[0], "cantidad": 1, "precio_unitario": 55.90},
            {"producto_id": prod_ids[1], "cantidad": 2, "precio_unitario": 27.50},
        ]
    },
    {
        "cliente_id": cli_ids[0],
        "fecha": datetime(2025, 7, 12),
        "items": [
            {"producto_id": prod_ids[2], "cantidad": 1, "precio_unitario": 199.00},
        ]
    },
    {
        "cliente_id": cli_ids[1],
        "fecha": datetime(2025, 7, 13),
        "items": [
            {"producto_id": prod_ids[1], "cantidad": 1, "precio_unitario": 27.50},
        ]
    },
])
print("Datos cargados correctamente ")

Datos cargados correctamente

In [7]:
#Ver las ordenes de un cliente en especifico 
cliente = db.clientes.find_one({"nombre": "Ana Pérez"})
ordenes_ana = list(db.ordenes.find({"cliente_id": cliente["_id"]}, {"_id": 0}))
pd.DataFrame(ordenes_ana)

,cliente_id,fecha,items
0,6876b62780518b78352e8c88,2025-07-10,"[{'producto_id': 6876b62780518b78352e8c85, 'ca..."
1,6876b62780518b78352e8c88,2025-07-12,"[{'producto_id': 6876b62780518b78352e8c87, 'ca..."

In [8]:
#Revision de los pedidos de un cliente
orden_id = db.ordenes.find_one({"cliente_id": cliente["_id"]})["_id"]

# Desenreda los items y une con 'productos' para obtener nombres
pipeline = [
    {"$match": {"_id": orden_id}},
    {"$unwind": "$items"},
    {"$lookup": {
        "from": "productos",
        "localField": "items.producto_id",
        "foreignField": "_id",
        "as": "producto_det"
    }},
    {"$unwind": "$producto_det"},
    {"$project": {
        "_id": 0,
        "Producto": "$producto_det.nombre",
        "Cantidad": "$items.cantidad",
        "Precio unitario": "$items.precio_unitario"
    }}
]
pd.DataFrame(list(db.ordenes.aggregate(pipeline)))

            Producto  Cantidad  Precio unitario
0   Teclado mecánico         1             55.9
1  Mouse inalámbrico         2             27.5

In [9]:
#Numero de ordenes por cliente
pipeline = [
    {"$group": {
        "_id": "$cliente_id",
        "total_ordenes": {"$sum": 1}
    }},
    {"$lookup": {
        "from": "clientes",
        "localField": "_id",
        "foreignField": "_id",
        "as": "cliente"
    }},
    {"$unwind": "$cliente"},
    {"$project": {
        "_id": 0,
        "Cliente": "$cliente.nombre",
        "Órdenes totales": "$total_ordenes"
    }}
]
pd.DataFrame(list(db.ordenes.aggregate(pipeline)))

       Cliente  Órdenes totales
0    Ana Pérez                2
1  Luis Torres                1

In [10]:
#coleccion de productos y stock
pd.DataFrame(list(db.productos.find({}, {"_id": 0})))

              nombre  precio  stock
0   Teclado mecánico    55.9    120
1  Mouse inalámbrico    27.5    200
2       Monitor 24''   199.0     75